#fest-overview{
    padding: 15rem 0;
    @include flex-layout();
    flex-direction: column;
    gap: 10rem;
    h1{
        font-size: 4.2rem;
        color: var(--gf-point);
    }
    .desc{
        width: 100%;
        ul{
            h2{
                font-size: 2.5rem;
                padding: 3rem 0;
                color: var(--gf-second-point);
            }
            h3{
                font-size: 1.8rem;
                padding: 0.5rem 0;
            }
            li{
                list-style: disc;
                font-size: 1.5rem;
                font-weight: 300;
                word-break: keep-all;
                margin-left: 2rem;
                padding: 0.5rem 0;
                line-height: 2.2rem;
            }
        }
    }
}