#fest-retro{
    width: 100%;
    @include flex-layout();
    flex-direction: column;
    padding: 15rem 0;
    gap: 10rem;
    h1{
        font-size: 4.2rem;
        color: var(--gf-point);
    }
    .desc{
        @include flex-layout();
        flex-direction: column;
        text-align: center;
        width: 70%;
        padding: 7rem;
        gap: 5rem;
        border: 1px solid var(--gf-second-point);
        border-radius: 2rem;
        >div{
            width: 90%;
        }
        h2{
            font-size: 2.8rem;
            color: var(--gf-second-point);
            padding-bottom: 2rem;
        }
        p{
            font-size: 1.5rem;
            word-break: keep-all;
            font-weight: 300;
            line-height: 2rem;
        }
    }
}