:root {
    // 메인
    --main-point: #1E90FF;
    --sub-point: #60A5FA;
    --main-bg: #181818;
    --main-txt: #E0E0E0;
    --yellow-point: #FBC02D;

    // 쇼핑몰
    --sm-green: #4CAF50;
    --sm-bg: #181D18;
    --sm-btn: #FBC02D;
    
    // 파킹시스템
    --dp-bg: #3C3E66;
    --dp-point: #B6B1D1;
    --dp-second-point: #FFD166;
    --dp-btn: #B3D4FF;

    // 넷플릭스
    --net-bg: #141414;
    --net-title: #E6D5B8;
    --net-point: #FFF3E0;

    // 모멘텀
    --mm-bg: #FFF3E0;
    --mm-title: #3E4C59;

    // 에어비앤비
    --ab-bg: #F2F2F2;
    --ab-title: #4B3F36;
    --ab-logo: #FF5A5F;
    --ab-point: #00C2A8;
}