#park-retro{
    width: 100%;
    @include flex-layout();
    flex-direction: column;
    padding: 15rem 0;
    gap: 10rem;
    h1{
        font-size: 4.2rem;
        color: var(--dp-btn);
    }
    .desc{
        @include flex-layout();
        flex-direction: column;
        text-align: center;
        width: 65%;
        padding: 7rem;
        gap: 5rem;
        border: 1px solid var(--dp-btn);
        border-radius: 2rem;
        >div{
            width: 90%;
        }
        h2{
            font-size: 2.8rem;
            color: var(--dp-btn);
            padding-bottom: 2rem;
        }
        p{
            font-size: 1.8rem;
            word-break: keep-all;
            font-weight: 300;
        }
    }
}