@import "./styles/global.scss";

@import "./styles/pagestyles/TopMenu.scss";
@import "./styles/pagestyles/AboutMe.scss";
@import "./styles/pagestyles/MainProjects.scss";
@import "./styles/pagestyles/CloneCoding.scss";
@import "./styles/pagestyles/PracticalPublishing.scss";